@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("tpm.15below.local") {

  body {
    font-family: "Segoe UI";
    font-size: 0.9em;
  }
  
  .tpm-line-in-list + .tpm-line-in-list .selectable {
    color: #000 !important;
    font-size: 14pt !important;
    font-weight: bold;
  }
  
  embed {
    display: none;
  }
  
  .label {
    padding: 3px 5px;
    line-height: 1.3em;
    margin: 0 5px 5px 0;
  }
  
  #tpm_ref_height {
    padding-top: 10px;
  }
  
  #tpm_more_content_tags {
    min-height: 300px;
  }
  
  .tpm-responsive-name-bigger {
    font-weight: normal;
  }
}
